<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>读写数组</title>
    <link rel="stylesheet" href="vscode.css">
</head>
<div class="button-container">
    <button id="import" data-snippets="./import.txt" style="flex-basis:100%">import numpy</button>
    <button id="loadtxt" data-snippets="./loadtxt.txt">loadtxt</button>
    <button id="savetxt" data-snippets="./savetxt.txt">savetxt</button>
    <button id="load" data-snippets="./load.txt">load npy</button>
    <button id="save" data-snippets="./save.txt">save npy</button>
</div>
<script src="../views.js"></script>
</body>

</html>