<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>数组</title>
    <link rel="stylesheet" href="vscode.css">
</head>
<div class="button-container">
    <button id="flatten" data-snippets="./flatten.txt">flatten</button>
    <button id="reshape" data-snippets="./reshape.txt"> reshape</button>
    <button id="transpose" data-snippets="./transpose.txt">transpose</button>
    <button id="flip" data-snippets="./flip.txt">flip</button>
    <button id="vstack" data-snippets="./vstack.txt">vstack</button>
    <button id="hstack" data-snippets="./hstack.txt">hstack</button>
    <button id="concatenate" data-snippets="./concatenate.txt">concatenate</button>
    <button id="sort" data-snippets="./sort.txt">sort</button>
    <button id="median" data-snippets="./median.txt">median</button>
    <button id="average" data-snippets="./average.txt">average</button>
    <button id="percentile" data-snippets="./percentile.txt">percentile</button>
    <button id="std" data-snippets="./std.txt">std</button>
    <button id="unique" data-snippets="./unique.txt">unique</button>
    <button id="where" data-snippets="./where.txt">where</button>
</div>
<script src="../views.js"></script>
</body>

</html>