<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>读写数组</title>
    <link rel="stylesheet" href="vscode.css">
</head>
<div class="button-container">
    <button id="zeros" data-snippets="./zeros.txt">zeros</button>
    <button id="zeros_like" data-snippets="./zeros_like.txt">zeros_like</button>
    <button id="ones" data-snippets="./ones.txt">ones</button>
    <button id="ones_like" data-snippets="./ones_like.txt">ones_like</button>
    <button id="eyes" data-snippets="./eyes.txt">eyes</button>
    <button id="arange" data-snippets="./arange.txt">arange</button>
    <button id="linspace" data-snippets="./linspace.txt">linspace</button>
    <button id="logspace" data-snippets="./logspace.txt">logspace</button>
    <button id="seed" data-snippets="./seed.txt">随机种子</button>
    <button id="randn" data-snippets="./randn.txt">标准正态</button>
    <button id="randint" data-snippets="./randint.txt">随机整数</button>
    <button id="random" data-snippets="./random.txt">随机浮点</button>
</div>
<script src="../views.js"></script>
</body>

</html>